<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A brief summary of my career...</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1995</h4>
                                    <h4 class="subheading">The Start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My first violin lesson was hard, but fun.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2008</h4>
                                    <h4 class="subheading">Pre-University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I studied piano at the Royal Conservatory of Music, violin at the Young Artists' Performance Academy (now called the Phil and Eli Taylor Academy), and also joined the Toronto Symphony Youth Orchestra.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2017</h4>
                                    <h4 class="subheading">Finished!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated with a Bachelor of Music from McGill, and a Master of Music in Performance Violin from the University of Toronto.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2018</h4>
                                    <h4 class="subheading">The Next Chapter</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I began my work at Fieldstone King's College School. I am also now a part of Fieldstone Day School. I teach music classes and include vocal, Orff, and violin across all grades, K to 12. I also perform all across Ontario!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>of the
                                    <br>Music!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
